

<h1>Here are our favorite cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#creation-modal">Add a cocktail</button>


<div class="modal-wrapper">
  <div class="modal fade text-center col-sm-6 offset-3"  id="creation-modal">
    <%= simple_form_for (@cocktail) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
